.menu {
	display: flex;
	align-items: center;
	justify-content: space-between;
	margin: 16px 0 100px;
}

.menu img {
	cursor: pointer;
}

.menu-list {
	display: flex;
	gap: 48px;
	align-items: center;
	justify-content: center;
}

.menu-item {
	cursor: pointer;

	display: flex;
	gap: 8px;
	align-items: center;
	justify-content: center;

	font-size: 16px;
	font-weight: 600;
	font-style: normal;
	line-height: 24px;
	color: #a8aebf;
	letter-spacing: 0.32px;
}

.menu-item:hover {
	color: white;
}

.menu-item-active {
	color: #fff;
}

.filmNum {
	width: 24px;
	height: 24px;
	border-radius: 50%;

	font-family: Poppins;
	font-size: 14px;
	font-weight: 600;
	font-style: normal;
	line-height: 24px;
	color: #fff;
	text-align: center;
	letter-spacing: 0.28px;

	background-color: #7b6ef6;
}
