.search-wrapper {
	display: grid;
	grid-template-columns: 1fr auto;
	gap: 8px;

	width: 100%;
	max-width: 650px;
	margin-bottom: 80px;
}

.input-wrapper {
	display: flex;
	align-items: center;
	height: 64px;
}

.input-wrapper img {
	position: absolute;
	width: 24px;
	height: 24px;
	margin-left: 16px;
}

.input-search {
	position: relative;

	height: 64px;
	padding-left: 50px;
	border: 1px solid #323b54;
	border-radius: 12px;

	font-size: 14px;
	font-weight: 400;
	font-style: normal;
	line-height: 16px;
	color: #fff;

	background: rgb(0 0 0 / 10%);
}

.input-search::placeholder {
	position: absolute;
	font-size: 14px;
	color: #475069;
}
