.search-wrapper {
  display: flex;
  gap: 8px;
  margin-bottom: 80px;
}

.input-wrapper {
  display: flex;
  align-items: center;
}

.input-wrapper img {
  position: absolute;
  margin-left: 16px;
  width: 24px;
  height: 24px;
}

.input-search {
  position: relative;
  color: #fff;
  padding: 12px 16px;
  font-size: 14px;
  font-style: normal;
  font-weight: 400;
  line-height: 16px; /* 114.286% */
  border-radius: 12px;
  border: 1px solid #323b54;
  background: rgba(0, 0, 0, 0.1);
  min-width: 312px;
  height: 40px;
  padding-left: 50px;
}

.input-search::placeholder {
  color: #475069;
  position: absolute;
  font-size: 14px;
}
