.search-wrapper {
  display: grid;
  gap: 8px;
  grid-template-columns: 1fr auto;
  margin-bottom: 80px;
  max-width: 600px;
   width: 100%;
}

.input-wrapper {
  display: flex;
  align-items: center;
  height: 64px;
}

.input-wrapper img {
  position: absolute;
  margin-left: 16px;
  width: 24px;
  height: 24px;
}

.input-search {
  position: relative;
  color: #fff;
  font-size: 14px;
  font-style: normal;
  font-weight: 400;
  line-height: 16px;
  border-radius: 12px;
  border: 1px solid #323b54;
  background: rgba(0, 0, 0, 0.1);
  /* min-width: 384px; */
  height: 64px;
  padding-left: 50px;
}

.input-search::placeholder {
  color: #475069;
  position: absolute;
  font-size: 14px;
}

@media (max-width: 660px) {
  /* .input-search {
  
  font-size: 14px;
  width: 100%;
} */
}