.content {
  display: flex;
  gap: 80px;
  margin-bottom: 35px;
}

.header {
  min-height: 64px;
  margin-bottom: 60px;
  padding: 40px;
  border-radius: 24px;

  background: rgb(32 40 62 / 80%);
  backdrop-filter: blur(24px);
}

.menu-name {
  font-size: 12px;
  font-weight: 400;
  line-height: 16px;
  color: #beb7fb;
  letter-spacing: 0%;
}


.poster {
  max-width: 480px;
  height: 100%;
  border-radius: 24px;

  object-fit: cover;
  object-position: center;
}

.film-info {
  display: flex;
  flex-direction: column;
  gap: 24px;

  font-size: 20px;
  font-weight: 400;
  line-height: 32px;
  color: var(--color-movie-info-data);
  text-align: left;
  letter-spacing: 0%;
}

.info-section-wrapper {
  display: flex;
  flex-direction: column;
  gap: 8px;
}

.info-label {
  margin: 0;

  font-size: 16px;
  font-weight: 400;
  line-height: 24px;
  color: var(--color-movie-info-labels);
  text-align: left;
  letter-spacing: 0%;
}

.description {
  text-align: justify;
}

.rank-favorite {
  display: flex;
  gap: 24px;
  align-items: center;
}

.rating {
  display: flex;
  gap: 8px;

  padding: 4px 8px;
  border-radius: 8px;

  background: rgb(0 0 0 / 65%);
  backdrop-filter: blur(4px);
}

.ratingNum {
  font-size: 16px;
  font-weight: 400;
  font-style: normal;
  line-height: 24px;
  color: #ffad49;
}

.favorite-wrapper {
  cursor: pointer;
  display: flex;
  gap: 8px;
  align-items: center;
}

.favorites {
  cursor: pointer;
  display: flex;
  gap: 8px;
  align-items: center;
}

.inFavorites {
  cursor: pointer;
  color: #37d8a7;
}

.review-wrapper {
  margin-top: 14px;
  padding: 40px;
  border-radius: 24px;

  background: rgb(32 40 62 / 80%);
  backdrop-filter: blur(24px);
}

.review-info {
  display: flex;
  justify-content: space-between;
  margin-bottom: 16px;
}

.review-heading {
  overflow: hidden;

  font-size: 20px;
  font-weight: 700;
  line-height: 32px;
  color: var(--color-movie-info-data);
  text-overflow: ellipsis; 
  letter-spacing: 0%;
  white-space: nowrap; 
}

.review-date {
  font-size: 16px;
  font-weight: 400;
  line-height: 24px;
  color: var(--color-movie-info-labels);
  text-align: left;
  letter-spacing: 0%;
}

.review-text {
  font-family: Poppins;
  font-size: 20px;
  font-weight: 400;
  line-height: 32px;
  color: var(--color-text);
  text-align: justify;
  letter-spacing: 0%;
}

@media (max-width: 850px) {
  .content {
  flex-direction: column;
  gap: 35px;
  margin-bottom: 25px;
}

.poster {
 margin: 0 auto;
  max-width: 375px;
}


}