:root {
  --color-heading: #ebeef5;
  --color-text: #8e95a9;
  --color-menu-item: #a8aebf;
  --color-movie-info-labels: #767e94;
  --color-movie-info-data: #c3c8d4;
  --color-bg-filmNum: #7b6ef6;

  font-family: Poppins, sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  text-rendering: optimizelegibility;

  background: rgb(12 16 32 / 100%);
  background-image: url("./background.svg");
  background-size: cover;

  font-synthesis: none;
}

* {
  box-sizing: border-box;
  margin: 0;
  font-family: Poppins, sans-serif;
}

body {
  max-width: 1200px;
  margin: 0 auto;
  padding: 0 10px;
}

button {
  border: none;
  background: none;
  cursor: pointer;
}

input {
  width: 100%;
}

.message-text {
  margin-top: 2rem;
  font-size: 1.2rem;
  color: var(--color-heading);
  text-align: center;
}

a {
  text-decoration: none;
}