.menu {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin: 16px 0 80px;
}

.menu-list {
  display: flex;
  gap: 48px;
  align-items: center;
  justify-content: center;
}

.menu-item {
  display: flex;
  gap: 8px;
  align-items: center;
  justify-content: center;
  color: var(--color-menu-item);
  font-size: 16px;
  font-style: normal;
  font-weight: 600;
  line-height: 24px; /* 150% */
  letter-spacing: 0.32px;
  cursor: pointer;
  text-decoration: none;
}

.menu-item:hover {
  color: white;
}

.menu-item-active {
  color: #fff;
}

.filmNum {
  color: #fff;
  font-family: Poppins;
  font-style: normal;
  font-size: 14px;
  font-weight: 600;
  line-height: 24px; /* 171.429% */
  letter-spacing: 0.28px;
  background-color: var(--color-bg-filmNum);
  width: 24px;
  height: 24px;
  border-radius: 50%;
  text-align: center;
}
